.formComponent {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    justify-content: center;
    /* align-items: center; */
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
}