
.acc-container{
    /* background-color: #c1e3d8; */
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.bg_image{
    opacity: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}