.gridColumnHeadingItem {
    min-width: 40px;
    width: 20%;
    /* max-width: 12.5%; */
    align-items: center;
    text-align: center;
    border-right: 1px solid rgb(156, 156, 156);
    border-bottom: 1px solid rgb(156, 156, 156);
    padding: 10px;
    background-color: #ededed;
    position: sticky;
    top: 0;
}

.gridData{
    /* display: flex; */
    /* flex-direction: column; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.gridData {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    /* padding-bottom: 1rem; */
    border: 1px solid rgb(145, 144, 144);
    /* height: fit-content; */
    max-width: 80vw;
    max-height: 60vh;
    /* overflow: scroll; */
}

.gridColumns{
    display: flex;
    width: 100%;
}

.gridDataAPI{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

.apiGridItems{
    /* min-width: 175px;
    width: 12.5%;
    max-width: 12.5%;
    text-align: center;
    border-right: 1px solid rgb(156, 156, 156);
    border-bottom: 1px solid rgb(156, 156, 156); */
    overflow: auto;
    min-width: 40px;
    width: 20%;
    /* max-width: 12.5%; */
    align-items: center;
    text-align: center;
    border-right: 1px solid rgb(156, 156, 156);
    border-bottom: 1px solid rgb(156, 156, 156);
    padding: 10px;
    /* background-color: #ededed; */
    position: sticky;
    top: 0;
}

.apiGridRow{
    display: flex;
    color: #333;
    width: 100%;
}
