.create{
    background-image: linear-gradient(to right, rgb(142, 171, 233) , rgb(156, 65, 179));
    background-size: cover;
    overflow: auto;
    height: 100vh;
    /* background-color: rgb(229, 219, 253); */
  
}
h3{
    display: flex;
    justify-content: center;
}
.get{
    /* background-color: rgb(233, 236, 240); */
    background-image: linear-gradient(to right, rgb(241, 178, 106) , rgb(240, 114, 11));
    background-size: cover;
    overflow: auto;
    height: 100vh;
}

.outerdiv{
    overflow-y: hidden;
    
}

.update{
    background-image: linear-gradient(to right, rgb(112, 188, 238) , rgb(216, 20, 20));
    background-size: cover;
    overflow: auto;
    height: 100vh;
}

.update h3{
    display: flex;
    justify-content: center;
}