.create{
    height: 100%;  
    overflow: hidden;
    /* background-color: rgb(229, 219, 253); */
    background-image: linear-gradient(to right, rgb(142, 171, 233) , rgb(156, 65, 179));
}

.get{
    /* background-color: rgb(233, 236, 240); */
    background-image: linear-gradient(to right, rgb(241, 239, 81) , rgb(216, 102, 8));
    /* height: 100vh; */  overflow: hidden;
}

.outerdiv{
    overflow-y: hidden;
    
}