
.acc-container{
    /* background-color: #c1e3d8; */
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.bg_image{
    opacity: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.css-6hp17o-MuiList-root-MuiMenu-list {
    max-height: 23rem;
    overflow-y: auto;
}
.toprightaccordian{
    position: absolute;
  top: 0;
  right: 0;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
  margin-left: 7px;
}

.hovertext {
    position: relative;
    border-bottom: 1px dotted black;
  }
  
  .hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;
  
    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
  }
  
  .hovertext:hover:before {
    opacity: 1;
    visibility: visible;
  }
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .categoryName {
  
    text-overflow: ellipsis;
  
    white-space: nowrap;
  
    overflow: hidden;
  
    width: 80%;
  
    font-weight: 500;
  
    line-height: 18px;
  
  }